<% articles.each do |article| %>
  <div class="mb-4" id="accordion" role="tablist">

    <div class="article-rating">
      <% if current_user.nil? %>
        <%= render 'votes/article_default_rate_selectors', article: article %>
      <% elsif current_user.id == article.user.id %>
        <%= render 'votes/no_selectors_rating_article' %>
      <% elsif did_user_like_article?(article) %>
        <%= render 'votes/article_like', article: article %>
      <% elsif did_user_dislike_article?(article) %>
        <%= render 'votes/article_dislike', article: article %>
      <% else %>
        <%= render 'votes/article_default_rate_selectors', article: article %>
      <% end %>
    </div>

    <div class="d-flex flex-row">
      <div class="w-100">
        <div class="card shadow">
          <div class="card-header">
            <strong class="card-title" style="font-size: 25px"><%= link_to "#{article.title}", article_path(article.id) %></strong>
          </div>
          <div id="collapse<%= "#{article.id}" %>" class="collapse show" role="tabpanel" aria-labelledby="heading<%= "#{article.id}" %>">
            <div class="card-body">
              <p class="card-text"><%= simple_format(article.post) %></p>
            </div>
          </div>
          <div class="card-footer text-right">
            <div class="float-left">Creator: <%= link_to "#{article.user.name}", user_path(article.user) %></div>
            <div class="float-right"><%= distance_of_time_in_words(Time.now, article.created_at, include_seconds: true) %></div>
            <div class="clearfix"></div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
